.supdiv div {
  font-size: 25px;
  font-style: italic;
  background-color: pink;
  border: 5px solid black;
  margin-top: 100px;
  font-family: "Open Sans", sans-serif; /* use a sans-serif font */
  transition: background-color 0.5s ease;
}
.supdiv :hover {
  background-color: #fae8e0;
}
.supdiv a {
  font-family: "Open Sans", sans-serif; /* use a sans-serif font */
  font-size: large;
  text-align: center;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.supdiv a {
  color: #000000; /* use a white color for the links */
  text-decoration: none; /* remove the underline from the links */
  transition: color 0.2s ease-in-out; /* add a smooth transition for the hover effect */
}

.supdiv a:hover {
  color: #000000; /* change the color of the links on hover */
}
