.formdiv form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 50px;
}

.formdiv input {
  text-align: center;
  width: 200px;
  height: 30px;
  margin: 10px;
  font-size: 15px;
  border: 1px solid pink;
  transition: background-color 0.2s ease-in-out;
}
.formdiv input:hover {
  background-color: #fae8e0;
}
.formdiv button {
  text-align: center;
  width: 200px;
  height: 30px;
  margin: 5px;
  font-family: "Open Sans", sans-serif;
  border: none;
  color: #000000;
  border: 1px solid pink;
  transition: background-color 0.3s ease-in-out;
  background-color: #fae8e0;
}
.formdiv button:hover {
  background-color: pink;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.formdiv label {
  font-family: "Open Sans", sans-serif;
  display: block;
  color: #000000;
  border: none;
  transition: color 0.2s ease-in-out;
}

.formdivr p {
  font-size: 20px;
  font-weight: 30000px;
  color: rgb(255, 233, 237);
  line-height: 1.5;
  text-align: center;
  margin: 20px 0;
}

.formdiv p a {
  color: pink;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 2px solid pink;
  transition: all 0.2s ease;
}

.formdiv p a:hover {
  color: #000000;
  background: #ffb8fe;
  border-bottom-color: #111010;
}
