

.formdiv div {
  display: inline-block;
  vertical-align: middle;
  /*width: calc(100% / 13);*/
  width: calc(91%);
  /*text-align: center;*/
  text-align: left;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border: 1px solid pink;
  margin: 5px;
  padding: 20px 50px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}


.formdiv p, h3 {
  display: flex;
  margin: 5px;

}

.formdiv h2 {
  background-image: url("./img/cottage.png");
  background-repeat: no-repeat;
  background-size: 55px;
  background-position: left;
  width: 55px;
  height: 47px;
  margin: 5px;
}